<menu>
   <!-- This is the main menu. Mark which collections you would like to make visible -->
   <item collection="Nintendo Entertainment System"/>
   <item collection="NES and Arcade"/>
   <item collection="Arcade"/>

   <!-- You could go as many layers deep as you would like. For instance, you could infinitely go into the main menu -->
   <!--
   <item collection="Main"/>
   -->
</menu>
